* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #b83f45;
    --secondary-color: #333;
    --background-color: #f9f9f9;
    --border-color: #ccc;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

#root {
    width: 60%;
    margin: auto;
    min-width: 400px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    color: var(--primary-color);
    font-size: 2rem;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-color);
    font-size: 0.6rem;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.input {
    &[type=text] {
        width: 80%;
        border: 1px solid var(--border-color);
        padding: 10px;
        border-radius: 4px;
        outline: none;
        font-size: 1rem;
        transition: border-color 0.3s ease-in-out;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        &:focus {
            border-color: var(--secondary-color);
        }
    }
}


#checkAll {
    background-color: var(--background-color);
    text-align: right;
    padding: 10px;
    border: solid 1px var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    transition: color 0.3s ease-in-out;

    // &:hover {
    //     color: var(--secondary-color);
    // }

    &:hover {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
}

.list {
    width: 100%;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.list_element {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);

    &:last-child {
        border-bottom: none;
    }
}

.view {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;

    &:hover .destroy {
        display: block;
    }

    label {
        width: 60%;
        font-size: 1.3rem;
        color: var(--secondary-color);
        overflow-wrap: break-word;
    }
}

.toggle {
    width: 20%;
    height: 20px;
    background-color: var(--border-color);
    border-radius: 10px;
    cursor: pointer;
}

.destroy {
    width: 20%;
    color: var(--primary-color);
    background-color: #fff;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.completed {
    label {
        text-decoration: line-through;
        color: var(--secondary-color);
    }
}

#list-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

    .link-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
    }

    #clear-completed {
        background-color: var(--background-color);
        text-align: right;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 30%;

        &:hover {
            text-decoration: underline;
        }
    }

    #counter {
        width: 20%;
        text-align: left;
    }
}

.link {
    color: #333;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--secondary-color);
    }
}

.inputFocused {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}